@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat' , sans-serif;
    color: #0E0C0D;
}

.info {
    margin-block: 9px;
}

.info h2 {
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
}

.info p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1em;
}

.info__container {
    width: calc(100% - 30px * 2);
    max-width: 850px;
    margin: 0 auto;
}

.info__img {
    width: 1100px;
    height: 138px;
    margin-top: 23px;
}

.info__link {
    background-color: #F7D22D;
    color: #473E43;
    border: none;
    padding: 8px 35px;
    margin: 25px 890px 21px 63px;
    font-family: 'Montserrat' , sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.info__text {
    max-height: 115px;
    margin-left: 54px;
    margin-right: 22px;
    overflow: hidden;
    position: relative;
}

.info__text--active {
    max-height: 1000px;
}

.info__text::after {
    width: 100%;
    height: 310px;
    display: block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.info__text--active::after {
    display: none;
}
